
<div class="col-md-4 col-md-offset-4">
  <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
    <div class="panel panel-default">

      <div class="panel-group">
        <div class="panel-heading">
          <div>
            <h3 class="panel-title" >Log In</h3>
          </div>
          <br />
          <div class="separator">
            <span class="separator-text">OR</span>
          </div>

          <div id="socialHolder">
            <p>
            </p>
          </div>

        </div>
        <div class="panel-body">
          <div style="margin-bottom: 12px" class="text input-group has-feedback"   ng-class="{
                      'has-error': loginForm.email.$invalid && loginForm.email.$touched,
                      'has-success': loginForm.email.$valid && loginForm.email.$touched
                      }">
            <input type="email" name="email" placeholder="example@email.com" autofocus="true" class="form-control" ng-model="user.email" required>
            <p class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
              <span ng-message="required">Email is required</span>
              <span ng-message="email">Email must look like email</span>
            </p>
          </div>

          <div style="margin-bottom: 12px" class="text input-group has-feedback" ng-class="{
                    'has-error': loginForm.password.$invalid && loginForm.password.$touched,
                    'has-success': loginForm.password.$valid && loginForm.password.$touched
                    }">
            <input type="password" minlength="4" name="password" placeholder="password" autocomplete="off" class="form-control" ng-model="user.password" required>
            <p class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
              <span ng-message="required">Password is required</span>
              <span ng-message="minlength">Password must be at list 4 characters</span>
            </p>
          </div>
        </div>
        <div class="panel-footer">

          <div class="actions">
            <input type="submit"  value="Log In" class="btn btn-defualt">
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
